:root {
  --primary-color: #fff;
  --secondary-color: #202124;
  --bg-alt-2: #f0f0f0;
  --sun: url(icons/sun.png);
}

:root.dark-mode {
  --primary-color: #202124;
  --secondary-color: #fff;
  --bg-alt-2: #333;
  --moon: url(icons/moon.png);
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--primary-color);
}

.container {
  display: flex;
  padding: 50px;
}

.leftMenu {
  flex: 1;
  color: var(--secondary-color);
}

.search {
  padding: 10px;
  width: 200px;
  border: 1px solid gray;
}

.cats {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cat {
  cursor: pointer;
  font-style: 20px;
  font-weight: 300;
  padding: 5px;
}

.content {
  flex: 4;
  color: var(--secondary-color);
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

img {
  width: 150px;
  height: 250px;
  object-fit: contain;
  transition: 250ms ease-in-out;
}

img:hover {
  transform: scale(1.1);
}

.name {
  font-weight: 300;
}

#color-mode {
  background: var(--bg-alt-2);
  height: 2.75rem;
  width: 4rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  margin-top: 25px;
  margin-left: 30px;
}

#toggle-button {
  background-image: var(--sun);
  background-size: cover;
  cursor: pointer;
}

.dark-mode #toggle-button {
  background-image: var(--moon);
}

.dark-mode #color-mode {
  justify-content: flex-end;
}

.icon {
  height: 2rem;
  width: 2rem;
  margin: 0 0.5rem;
}
